{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ name }}</h1>
    <h2>Members of the Simpsons:</h2>
    <ul>
        {% for character in losSimpsons %}
            <li> {{ character }} </li>
        {% endfor %}
    </ul>
    {{ 'Hello everyone, you will read this!' }}
{% endblock %}

{% block extraContentWhichDoesNotExistInMotherTemplate %}
    {{ 'Hello everyone, you will not read this!' }}
{% endblock %}